<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<script>
    function setActiveLink(setActive){
    if ($("a").hasClass('active'))
        $("a").removeClass('active');
    if (setActive)
        $("#"+setActive).addClass('active');
}

$(function() {
    $("a").click(function() {
        setActiveLink(this.id);
    });
});
</script>
<div class="navbar">
<span class="mainHeading"><a href="/bizzbuzz/home"><img src="{%  static "images/newlogo.png" %}" style="height: 140px; width: 180px;margin-top: -45px;"></a> </span>
    <span class="subHeading"><a href="/bizzbuzz/selectchannel">Manage Company Subscriptions</a></span>
    <span class="subHeading"><a href="/bizzbuzz/logout"> Logout</a></span>
{#    <span class="subHeading"><a href=""> Settings</a></span>#}
    <span class="subHeading" style="margin-left: 800px; color: white; text-transform:capitalize; ">Welcome <b>{{ name }}</b>!</span>
</div>



<div class="container">
<div class="sidebar">
{#    <form method="post" action="">#}
{#        <input type="search" placeholder="" class="searchbox"></form>#}
{#    <a href="#" id="link1"> <img src="{% static "images/heart.png" %}" class="favorite"></a>#}
    <a href="#" id="link5"> <img src="{% static "images/Amazon.png" %}" class="channel" style="height: 50px;margin-right: 45px;"></a>
    <a href="#" id="link2"> <img src="{% static "images/channel1.png" %}" class="channel" style="margin-right: 45px;"></a>
    <a href="#" id="link4"> <img src="{% static "images/channel3.png" %}" class="channel" style="margin-right: 45px;"></a>
    <a href="#" id="link3"> <img src="{% static "images/channel2.png" %}" class="channel" style="margin-right: 45px;"></a>
    <a href="#" id="link5"> <img src="{% static "images/ibm.png" %}" class="channel" style="width:100px;height: 70px;margin-right: 45px;margin-left: 27px"></a>
    <a href="#" id="link5"> <img src="{% static "images/channel4.png" %}" class="channel" style="height: 50px;margin-right: 45px;"></a>
    <a href="#" id="link5"> <img src="{% static "images/netflix.png" %}" class="channel" style="width:80px;margin-left:35px;height: 60px;margin-right: 45px;"></a>
    <a href="#" id="link5"> <img src="{% static "images/oracle.png" %}" class="channel" style="width:90px;height: 90px;margin-top:-15px;margin-left:35px;margin-bottom:-35px;margin-right: 45px;"></a>
    <a href="#" id="link5"> <img src="{% static "images/sales.png" %}" class="channel" style="width:100px;height: 80px;margin-left:30px;margin-right: 5px;margin-top:20px;"></a>
    <a href="#" id="link5"> <img src="{% static "images/samsung.png" %}" class="channel" style="width:150px;height: 50px;margin-left:5px;margin-right: 5px;"></a>
    <a href="#" id="link5"> <img src="{% static "images/Sap.png" %}" class="channel" style="width:150px;height: 50px;margin-left:12px;margin-right: 10px;"></a>
    <a href="#" id="link5"> <img src="{% static "images/spacex.png" %}" class="channel" style="width:150px;height: 70px;margin-left:12px;margin-right: 10px;"></a>
    <a href="#" id="link5"> <img src="{% static "images/tesla.png" %}" class="channel" style="width:100px;height: 70px;margin-left:25px;margin-right: 10px;margin-top:10px;"></a>
    <a href="#" id="link5"> <img src="{% static "images/twitter.png" %}" class="channel" style="width:80px;height: 70px;margin-right: 45px;margin-top:10px;"></a>

</div>
    <div class="feed">
    <div class="favoritebar">

    </div>
        <div class="timeheading">
            <h1>This Week</h1>
                <h3 style="margin-left: 27px">Click on a Card to View An Article.</h3>
<form method="post">
    {% csrf_token %}
    <button type="submit" name="run_script">Refresh News</button>
</form>
        </div>
        <div class="news">
            <a href="">

 {% for title, url, summary, source, index  in articles %}

     <a target="_blank" rel="noopener noreferrer" href="{{ url }}">
        <div class="newsCard">
<button class="number" disabled >{{ index }}</button>


    <div class="textcontainer">
        {% if source == "FORBES" %}
                 <a href="{{ url }}" >
                     <img src="{% static "images/forbes-logo.png" %}" class="sourcelogo" style="height: 20px; margin-left:5px; margin-top:5px">
                 </a>
        {%  endif %}
        {% if source == "BI" %}
                 <a href="{{ url }}" >
                     <img src="{% static "images/bi-logo.png" %}" class="sourcelogo" style="height: 20px; margin-left:5px; margin-top:5px">
                 </a>
        {%  endif %}
        {% if source == "NYTIMES" %}
                 <a href="{{ url }}" >
                     <img src="{% static "images/bi-logo.png" %}" class="sourcelogo" style="height: 20px; margin-left:5px; margin-top:5px">
                 </a>
        {%  endif %}
        {% if source == "TECH_TIMES" %}
                 <a href="{{ url }}" >
                     <img src="{% static "images/bi-logo.png" %}" class="sourcelogo" style="height: 20px; margin-left:5px; margin-top:5px">
                 </a>
        {%  endif %}
        <span class="author" style = "margin-right:20px; margin-bottom: 15px"> {{ title }} </span>
       <details class="summary" style = "margin-right:20px; color: #252b27;  border-style:solid; background-color: #6f9196; border-color: #6f9196">
           <summary> <u> Article Summary </u> </summary>{{ summary }} </details>

        </div>
     </div>
     </a>

 {% endfor %}



        </a>
</div>
</div>
</div>
</body>
</html>