<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<script>
    function setActiveLink(setActive){
    if ($("a").hasClass('active'))
        $("a").removeClass('active');
    if (setActive)
        $("#"+setActive).addClass('active');
}

$(function() {
    $("a").click(function() {
        setActiveLink(this.id);
    });
});
</script>
<div class="navbar">
<span class="mainHeading"><a href="">Bizzbuzz</a> </span>
    <span class="subHeading"><a href="/bizzbuzz/searchchannel"> Add Channel</a></span>
    <span class="subHeading"><a href="/bizzbuzz/login"> Logout</a></span>
    <span class="subHeading"><a href=""> Settings</a></span>
    <span class="subHeading" style="margin-left: 800px; color: white">Welcome Jose !</span>
</div>
<div class="container" >

    <div class="feed" style="padding-left: 150px;padding-right: 68px;padding-top: 15px;">

            <span class="subHeading" style="font-weight: bold;font-size: 22px;margin-left: 450px;">
                Add channel to your list
</span>
        <form action="" method="post" class="searchform" style="margin-top: -25px;">
    <input type="search" placeholder="Enter channel name...">
            <a href="/bizzbuzz/home" style="
            background-color: #055662;
            color:white;margin-left: 150px;font-size: 25px;text-decoration: none;
            font-weight: bold;padding: 8px;border-radius: 8px;padding-right: 35px;">Next</a>
</form>
        <div class="category">

<a href=#>Business</a>
            <a href=#>Design</a>
            <a href=#>Development</a>
            <a href=#>Featured</a>
            <a href=#>Marketing</a>
            <a href=#>News</a>
            <a href=#>Photography</a>
            <a href=#>Reddit</a>
        </div>
        <div class="news">
            <a href="">
<div class="newsCard">
<img src="{% static "images/hacker.png" %}" class="channelimg">
    <div class="textcontainer">
        <span class="subHeading">Hacker News</span><br>
        <span class="feedtext">A social news website focusing on computer science and entrepreneurship.</span><br>
        <button class="addbtn">Add</button>
        </div>
</div></a>
            <a href="">
<div class="newsCard">
<img src="{% static "images/hacker.png" %}" class="channelimg">
    <div class="textcontainer">
        <span class="subHeading">Hacker News</span><br>
        <span class="feedtext">A social news website focusing on computer science and entrepreneurship.</span><br>
        <button class="addbtn">Add</button>
        </div>
</div></a>
            <a href="">
<div class="newsCard">
<img src="{% static "images/hacker.png" %}" class="channelimg">
    <div class="textcontainer">
        <span class="subHeading">Hacker News</span><br>
        <span class="feedtext">A social news website focusing on computer science and entrepreneurship.</span><br>
        <button class="addbtn">Add</button>
        </div>
</div></a>
            <a href="">
<div class="newsCard">
<img src="{% static "images/hacker.png" %}" class="channelimg">
    <div class="textcontainer">
        <span class="subHeading">Hacker News</span><br>
        <span class="feedtext">A social news website focusing on computer science and entrepreneurship.</span><br>
        <button class="addbtn">Add</button>
        </div>
</div></a>
            <a href="">
<div class="newsCard">
<img src="{% static "images/hacker.png" %}" class="channelimg">
    <div class="textcontainer">
        <span class="subHeading">Hacker News</span><br>
        <span class="feedtext">A social news website focusing on computer science and entrepreneurship.</span><br>
        <button class="addbtn">Add</button>
        </div>
</div></a>
            <a href="">
<div class="newsCard">
<img src="{% static "images/hacker.png" %}" class="channelimg">
    <div class="textcontainer">
        <span class="subHeading">Hacker News</span><br>
        <span class="feedtext">A social news website focusing on computer science and entrepreneurship.</span><br>
        <button class="addbtn">Add</button>
        </div>
</div></a>
            <a href="">
<div class="newsCard">
<img src="{% static "images/hacker.png" %}" class="channelimg">
    <div class="textcontainer">
        <span class="subHeading">Hacker News</span><br>
        <span class="feedtext">A social news website focusing on computer science and entrepreneurship.</span><br>
        <button class="addbtn">Add</button>
        </div>
</div></a>
            <a href="">
<div class="newsCard">
<img src="{% static "images/hacker.png" %}" class="channelimg">
    <div class="textcontainer">
        <span class="subHeading">Hacker News</span><br>
        <span class="feedtext">A social news website focusing on computer science and entrepreneurship.</span><br>
        <button class="addbtn">Add</button>
        </div>
</div></a>
            <a href="">
<div class="newsCard">
<img src="{% static "images/hacker.png" %}" class="channelimg">
    <div class="textcontainer">
        <span class="subHeading">Hacker News</span><br>
        <span class="feedtext">A social news website focusing on computer science and entrepreneurship.</span><br>
        <button class="addbtn">Add</button>
        </div>
</div></a>
        </div>
    </div>
    </div>

</body>
</html>